{% extends 'base.html.twig' %}

{% block title %}GO Influencer Deeplink Generator{% endblock %}

{% block body %}
<style type="text/css">
    .purple-border textarea {
        border: 1px solid #ba68c8;
    }
    .purple-border .form-control:focus {
        border: 1px solid #ba68c8;
        box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
    }

    .green-border-focus .form-control:focus {
        border: 1px solid #8bc34a;
        box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
    }

</style>

    <!-- Image and text -->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

        <nav class="navbar navbar-light bg-light ">

            <a class="navbar-brand col- sm-3 col-md-2 mr-0" href="https://panel.gelirortaklari.com">
                <img src="{{ asset('assets/images/gologo.png') }}" class="d-inline-block align-top"  height="30" alt="">
                <h5 class="my-0 mr-md-auto font-weight-normal">Influencers - Deeplink Generator</h5>
            </a>
        </nav>
    </div>

    <section class="content">
        <div class="container-fluid col-md-8 center" style="margin-top:40px;">
            <form role="form" method="post">
                <div class="form-group">
                    <label class="control-label" for="medium">Kampanyalar:</label>
                    <select class="select form-control" name="medium">
                        <option value="">Seçiniz</option>

                        <option value="boyner" {% if medium == 'boyner' %} selected="selected" {% endif %}>Boyner</option>
                        <option value="morhipo" {% if medium == 'morhipo' %} selected="selected" {% endif %}>Morhipo</option>
                    </select>
                </div>
                <br/>


                <div class="form-group green-border-focus">
                    <label for="urun_link">Ürün Linki:</label>

                    <textarea class="form-control" name="comment" >{{ comment }}</textarea>
                </div>

                <div class="form-group">
                    <label for="aff_id">Partner ID'nizi giriniz (Zorunlu):</label>
                    <input class="form-control" placeholder="GelirOrtakları yayıncı ID (aff_id) giriniz." name="aff_id" value="{{ aff_id }}" id="aff_id">
                </div>

                <div class="form-group">
                    <label for="adgroup">Hesap İsminiz (Zorunlu):</label>
                    <input class="form-control" placeholder="Hesap İsminizi Giriniz." name="adgroup" value="{{ adgroup }}" id="adgroup">
                </div>


                <div class="form-group">
                    <label for="aff_sub">İçerik isimlendirme (Opsiyonel):</label>
                    <input class="form-control" placeholder="Creative ID Girebilirsiniz." name="aff_sub" value={{ aff_sub }}"" id="aff_sub">
                </div>



                <input type="submit" class="btn btn-primary" name="submit" value="Deeplink Oluştur">

                <br/>
            </form>
            <br/>
            <div class="form-group">
                <label for="deeplink_url">Influencer Link:</label>
                <textarea class="form-control" id="deeplink_url" onclick="this.focus();this.select()" readonly="readonly" >
{{ format }}
</textarea>

            </div>
        </div>
    </section>
{% endblock %}
